*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
@font-face {
    font-family: "Poppins";
    src: url(fuentes/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Lato";
    src: url(fuentes/Lato/Lato-Regular.ttf);
}
body{
    background-color: #F2F5F9;
}
.container{
    display: flex;
    flex-direction: column;
}

.linea{
    border-bottom: 1px solid black;
}