*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
@font-face {
    font-family: "Poppins";
    src: url(fuentes/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Lato";
    src: url(fuentes/Lato/Lato-Regular.ttf);
}
body{
    background-color: #F2F5F9;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 70px;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    border-radius: 20px;
    background: #FFFFFF;
}
.tar_imagen{
    position: relative;
    border-radius: 20px;
    z-index: 1;
}
.tar_imagen2{
    position: absolute;
    width: 29.3%;
    padding-top: 204px;
    z-index: 2;
}
.tar_titulo{
    font-family: "Poppins";
    font-size: 24px;
    padding: 10px 35px;
}
.tar_descripcion{
    font-family: "Lato";
    font-size: 16px;
    color: #677489;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.linea{
    opacity: .1;
    border:1px solid #677489;
}
.usuario{
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 35% 50%;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 35px;
}
.usuario img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #dbdfe6;
}
.usu_nombre{
    font-family: "Poppins";
    font-size: 18px;
    color: #111729;
}
.usu_cargo{
    font-family: "Lato";
    font-size: 16px;
    color: #677489;
    grid-column: 2/2;
}